!!!
%html
  %head
    %title Simple Tree
    = stylesheet_link_tag    "application", media: "all"
    = stylesheet_link_tag    "tree", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
